@import url("https://fonts.googleapis.com/css?family=Roboto");
// <!-- !-- Vertical Right Button -->
$purple: #8974FB;
$light-purple: #C784DD;

a {
    text-decoration: none;
}

@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #eaedf2;
    font-family: 'Roboto', sans-serif;
}

.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}

.floating-container:hover {
    height: 300px;
}

.floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
    animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
    animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
    animation: come-in 0.4s forwards 0.6s;
}

.floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: #2cb3f0;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.floating-container .float-element .material-icons {
    vertical-align: middle;
    font-size: 16px;
}

.floating-container .float-element:nth-child(1) {
    background: #42A5F5;
    box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}

.floating-container .float-element:nth-child(2) {
    background: #42A5F5;
    box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}

.floating-container .float-element:nth-child(3) {
    background: #FF9800;
    box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}

.tooltiptextPhone, .tooltiptextMail {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 0px 20px;
    background: #333;
    color: #42A5F5;
    position: absolute;
    top: -20%;
    left: -25%;
    border-radius: 9px;
    font-size: 18px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

.example {
    content: "";
    width: 0px;
    height: 10px;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #333 transparent transparent transparent;
    position: absolute;
    left: 40%;
}

.tooltiptextPhone::after,  .tooltiptextMail::after{
  @extend .example;
}

.tooltip-phone:hover .tooltiptextPhone ,.tooltip-mail:hover .tooltiptextMail{
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite alternate;
}

@keyframes odsoky {
    0% {
        transform: translateY(6px);
    }
    100% {
        transform: translateY(1px);
    }
}
.left:hover {
    transform: translateX(-6px);
}

.left .tooltiptextPhone {
    top: 20px;
    left: -130%;
}
.left .tooltiptextMail::after{
    transform: rotate(-90deg);
    top: 2%;
    left: 97%;

}
.left .tooltiptextPhone::after {
    top: 1%;
    left: 94%;
    transform: rotate(-90deg);
}
.tooltiptextMail{
    width: auto;
    top: 29%;
    left: -225%;
}

// <!-- !-- Vertical Right Button -->\

// <!-- !-- Middle Dropdown Button -->
.container {
    width: 20%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15%;
}

#toggle {
    -webkit-appearance: none;
}

.button {
    position: absolute;
    z-index: 999;
    width: 43px;
    height: 43px;
    background: $purple;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;

    &:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background: #fff;
        transform: rotate(90deg);
        transition: all 0.4s ease;
    }

    &:after {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background: #fff;
        transition: all 0.4s ease;
    }
}

.nav {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
    border: 1px solid #e4e4e4;
    padding: 10px;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    a {
        text-align: center;
        margin: 20px 0;
        color: $purple;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;

        &:hover {
            color: $light-purple;
        }
    }
}

#toggle:checked~.nav {
    opacity: 1;
    transform: translateY(10%);
}

#toggle:checked~.button:before {
    transform: rotate(225deg);
}

#toggle:checked~.button:after {
    transform: rotate(135deg);
}

@media (max-width: 640px) {
    .container {
        width: 100%;
    }
}

// <!-- !-- Middle Dropdown Button -->

//    Multi Share Button
h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-weight: lighter;
    font-family: 'Open sans', sans-serif;
    left: 15%;
    top: 30px;
    font-size: 2.5em;
    position: absolute;
}

div.btn-multi {
    background-color: rgba(63, 81, 181, 1);
}

label#main-btn {
    top: 52px;
    left: 80%;
}

header {
    position: relative;
    width: 100%;
    height: 200px;

}

.btn {
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 14px;
    background-color: #E91E63;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease-in;
    background-position: 50%;
    outline: none !important;

    &.btn-circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 0 !important;
        font-size: 18px;
    }
}

.btn-multi {
    input {
        display: none;

        &:not(:checked) {
            ~label {
                transform: rotate(0);

                .btn {
                    border-radius: 0;
                    height: 30px;
                    width: 30px;
                    box-shadow: none;

                    i {
                        opacity: 0;
                        transition: .3s;
                    }

                    &:first-child {
                        border-top-left-radius: 100%;
                        transform: translate(25px, 25px);
                    }

                    &:nth-child(2) {
                        border-top-right-radius: 100%;
                        transform: translate(55px, 25px);
                    }

                    &:nth-child(3) {
                        border-bottom-left-radius: 100%;
                        transform: translate(25px, 55px);
                    }

                    &:nth-child(4) {
                        border-bottom-right-radius: 100%;
                        transform: translate(55px, 55px);
                    }

                    .icon {
                        opacity: 0;
                    }
                }

                >.icon {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        &:checked {
            ~label i {
                rotate: (-45deg);
                transition: .3s;
            }
        }
    }

    label {
        position: relative;
        height: 110px;
        width: 110px;
        display: block;
        transform: rotate(45deg);
        transition: all .2s ease-in;
        cursor: default;
        border-radius: 30px;

        .btn {
            position: absolute;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

            &:nth-child(2) {
                transform: translate(60px, 0);
            }

            &:nth-child(3) {
                transform: translate(0, 60px);
            }

            &:nth-child(4) {
                transform: translate(60px, 60px);
            }

            .icon {
                opacity: 1;
                transition: all .15s ease-in-out;
                transform: rotate(-45deg);
            }
        }

        >.icon {
            color: white;
            position: absolute;
            border-radius: 50%;
            display: flex;
            font-size: 30px;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 60px;
            top: 25px;
            left: 25px;
            opacity: 0;
            transition: all .25s ease-in-out;
        }

        .icon {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        i.material-icons.icon.closeBtn {
            rotate: (90deg) !important;
        }
    }
}

//    Multi Share Button

//Blue Middle Button
.menu {
    filter: url("#shadowed-goo");
}

.menu-item,
.menu-open-button {
    background: #00bcd4;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    bottom: 530px;
    color: white;
    text-align: center;
    line-height: 80px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    padding-top: 20px;
    padding-left: 80px;
    width: 650px;
    height: 150px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:hover {
    background: white;
    color: #00bcd4;
}

.menu-item:nth-child(3) {
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked~.menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(110px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    transition-duration: 290ms;
    transform: translate3d(220px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
    transition-duration: 390ms;
    transform: translate3d(330px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
    transition-duration: 490ms;
    transform: translate3d(440px, 0, 0);
}

// Blue Middle Button